.entry {
  width: calc(100% - 4rem);
  max-width: 60rem;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  margin: auto;
}

.entry_header {
  padding: 4rem 0;
}

.entry__meta {
  margin-top: 3rem;
}

.entry__img {
  display: block;
  height: auto;
  max-width: 100%;
}

.entry__img img {
  max-width: 100%;
}

.entry__content {
  padding-top: 25px;
  line-height: 1.5;
}

.entry__content p {
  text-align: start;
}
