.navbar {
  background: #35858b;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .navbar {
    transition: 0.8s all ease;
  }
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1400px;
}

.navLogoLink {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navLogo {
  height: 35px;
  width: 5rem;
}

.mobileIcon {
  display: none;
}

@media screen and (max-width: 1150px) {
  .mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 45%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -15px;
}
@media screen and (max-width: 1150px) {
  .navMenu {
    display: none;
  }
}

.navItem {
  height: 70px;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
}

.navLinks:active {
  transform: translate(-1px, 1px);
}

@media screen and (min-width: 1150px) {
  .navLinks {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .navLinks {
    font-size: 16px;
  }
}

.navLinks:hover {
  color: #000000;
}
.navLinks:active .navLinksActive {
  border-bottom: 2px solid #4fbdba;
}

.navBtn {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1150px) {
  .navBtn {
    display: none;
  }
}

.navBtnLink,
.navDonationLink,
.navDonationLinkHeader {
  border-radius: 10px;
  background: #fff;
  white-space: nowrap;
  padding: 6px 8px;
  color: rgb(12, 9, 9);
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navBtnLink:hover,
.navDonationLink:hover {
  transition: background-color color 0.2s ease-in-out;
  background-color: #272c34;
  color: #fff;
}

.navBtnLink:active {
  transform: translate(-1px, 1px);
}

@media screen and (min-width: 1150px) {
  .navBtnLink,
  .navDonationLink {
    font-size: 12px;
    padding: 8px 16px;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .navBtnLink,
  .navDonationLink {
    font-size: 14px;
  }
}

.sidebarContainer {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  background: #35858b;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-80%, 40%);
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.closeIcon {
  color: #fff;
}

.sidebarWrapper {
  color: #fff;
}

.sidebarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 80px);
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-height: 770px) {
  .sidebarMenu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
  }
}
@media screen and (min-width: 700px) {
  .sidebarMenu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
  }
}

.sidebarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.sidebarLink:hover {
  color: rgb(20, 18, 18);
  transition: 0.2s ease-in-out;
}

.sidebarBtnWrap {
  display: grid;
  row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .sidebarBtnWrap {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

.sidebarRoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #272c34;
  white-space: nowrap;
  padding: 8px 30px;
  color: #fff;
  font-size: 1.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: 11.6rem;
  height: 3rem;
}

.sidebarRoute:hover {
  transition: background-color color 0.2s ease-in-out;
  background-color: #fff;
  color: rgb(20, 18, 18);
}

.sidebarRoute:active {
  transform: translate(-1px, 1px);
}

.navDonationLink {
  background-color: #fff;
  background-image: url('../../../assets/MP.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 11.6rem;
  height: 3rem;
}

@media screen and (max-width: 500px) {
  .navBtnLink,
  .sidebarRoute {
    font-size: 16px;
    padding: 6px 14px;
    width: 7.7rem;
    height: 2.2rem;
    align-items: center;
  }
  .navDonationLink {
    width: 7.7rem;
    height: 2.2rem;
  }
}

@media screen and (min-width: 700px) {
  .sidebarBtnWrap {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 1rem;
  }
}

.navDonationLinkHeader {
  background-color: #fff;
  background-image: url('../../../assets/MP.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 7.3rem;
  height: 2.3rem;
}
