.date-container {
  font-size: 1.2rem;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 35px;
  margin: 50px 25px;
}

.date-container > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

#gallery-campaign {
  padding: 20px;
}

#gallery-campaign div {
  margin-bottom: 50px;
}

#gallery-campaign > div:last-child {
  margin-bottom: 0px;
}
