html,
body {
  width: 100%;
  height: 100%;
 margin: 0;
  padding: 0;
  
}

body {
  font-family:  'Roboto';
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #fff;
  
}

#root {
  width: 100%;
  height: 100%;
  
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.trails-text {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #35858B;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: contents;
  overflow: hidden;
  margin-top: 2rem;
  align-self: center;

}

.trails-text:first-of-type {
  font-size: 7em;
  height: 120px;
  line-height: 140px;
}

.trails-text > div {
  overflow: hidden;
}
