.navbar {
  background: #35858b;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .navbar {
    transition: 0.8s all ease;
  }
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1400px;
}

.navLogoLink {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navLogo {
  height: 35px;
  width: 5rem;
}

.mobileIcon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -15px;
}
@media screen and (max-width: 1100px) {
  .navMenu {
    display: none;
  }
}

.navItem {
  height: 70px;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
}

@media screen and (min-width: 1100px) {
  .navLinks {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .navLinks {
    font-size: 16px;
  }
}

.navLinks:hover {
  color: #000000;
}
.navLinks:active .navLinksActive {
  border-bottom: 2px solid #4fbdba;
}

.navBtn {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .navBtn {
    display: none;
  }
}

.navBtnLink {
  border-radius: 10px;
  background: #fff;
  white-space: nowrap;
  padding: 8px 15px;
  color: #35858b;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  .navBtnLink {
    font-size: 14px;
    padding: 10px 18px;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .navBtnLink {
    font-size: 16px;
  }
}
